@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(fonts/Poppins.ttf);
}

@font-face {
  font-family: "Work Sans";
  src: url(fonts/Worksans.ttf);
}

@font-face {
  font-family: "Raleway";
  src: url(fonts/Raleway.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

}

body {
  font-family: "Montserrat";
}

:root {
  --green: #72392e;
  --black: #2c1500;
  --lightgray: #f2f2f2;
  --darkgray: #333333;
  --hovergreen: #10502d;
  --hoverlightgray: #ddf1e2;
  --lightborder: #e0e0e0;
  --bg: #f3f4f6;
  --ultitile: #2b1714;
}

a {
  display: inline-block;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s linear;
}

input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  padding: 40px 56px;
}

.light {
  color: var(--green);
  background: #fff;
}

.green {
  background: var(--green);
  color: #fff;
}

.section-button {
  padding: 10px 40px;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
}

/* header styles start */

.header-wrapper {
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo-img {
  opacity: 0;
}

.header-items {
  display: flex;
  align-items: center;

}

.header-items-svg-wrap {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-right: 15px;
}

.header-item-svg {
  width: 20px;
  cursor: pointer;
}

.header-items-autorize {
  height: 100%;
}
.sign-up,
.sign-in {
  height: 100%;
  font-family: Nunito;
  font-weight: 600;
  padding: 8px 20px;
  font-size: 14px;
}

/* header styles end */

/* top section styles start */

.top-section {
  display: flex;
}

.top-section-img {
  height: 100vh;
}

.top-section-main {
  position: relative;
  padding: 0 72px 0 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.top-section-main-title {
  font-size: 68px;
  color: var(--green);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 24px;
}

.top-section-main-text {
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.top-section-button-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;

  display: none;
}
.top-section-btn {
  padding: 39px 49px;
  width: 50%;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 49px;
  cursor: pointer;
  transition: 0.2s linear;
}

.btn-description {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  margin-bottom: 12px;
}
.btn-description-dark {
  color: var(--darkgray);
  background: url(img/svg/arrow-left-dark.svg) no-repeat left center;
  padding-left: 40px;
}

.btn-description-light {
  color: var(--lightgray);
  background: url(img/svg/arrow-right-light.svg) no-repeat 65px center;
  padding-right: 40px;
}

/* top section styles end */

/* section 2 styles start */
.s2-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 100px;
  gap: 32px;
}

.s2-card {
  border: 1px solid var(--lightborder);
  padding: 26px;
}

.s2-card-title {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.s2-card-title-text {
  color: var(--green);
}

/* section 2 styles end */

/* section 3 styles start */

.s3-title-cont {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--lightborder);
  padding-bottom: 20px;
  color: var(--green);
}

.s3-title {
  font-size: 22px;
  font-weight: 700;
}

.select {
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid var(--lightborder);
}

.s3-plant-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 24px;
  gap: 15px;
}

.s3-plant-card {
  text-align: center;
  padding-bottom: 15px;
  transition: ease-in-out 0.3s;
  background: #fff;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  
}

.s3-card-img-cont {
  width: 100%;
  margin-bottom: 16px;
}

.s3-plant-img {
  height: 450px;
}

@media  (hover: hover) {
  .s3-plant-card:hover {
    transform: scale(1.15);
  }
}

.s3-plant-name {
  margin-bottom: 8px;
  color: var(--green);
  font-weight: 600;
}

.s3-plant-price {
  font-weight: 600;
}

#s3-plants-sort {
  display: none;
}
/* section 3 styles end */

/* section 4 styles start */
.section-4 {
  display: flex;
  gap: 80px;
}

.s4-left-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.s4-text-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 15px;
}

.s4-text-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  color: var(--black);
  margin-bottom: 16px;
}

.s4-text-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--black);
}

.s4-big-img-cont {
  width: 50%;
}

.s4-big-img {
  width: 100%;
}
.s4-bottom-img-cont {
  width: 100%;
}
.s4-bottom-img {
  width: 100%;
}
/* section 4 styles end */

/* section 5 styles start */
.section-5 {
  /* display: flex; */
  /* justify-content: space-between; */
  background-color: #f5e0cd;
  padding: 15px 30px;
  text-align: center;
}

.s5-text {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%; */

}

.s5-text-title {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: var(--green);
}

.button-cont {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.s5-link-img {
  width: 28px;
}

.s5-right-cont {
  margin-bottom: 15px;
}

.s5-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: fit-content;
  margin: 0 auto;
}

.s5-ul-title {
  color: var(--ultitile);
  font-size: 18px;
  margin-bottom: 5px;
}

.s5-li {
  background-color: #fcf4ee;
  padding: 17px 25px;
}


/* section 5 styles end */

/* footer styles start */
.footer {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 60px 167px 71px 167px;
  border-top: 1px rgba(21, 105, 99, 0.3) solid;
  font-family: Work Sans;
}

.footer-address-cont {
  width: 35%;
}

.footer-planktu {
  margin-bottom: 24px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--green);
}

.footer-title {
  display: block;
  margin-bottom: 20px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.footer-adress-title {
  margin-bottom: 10px;
  color: var(--gray-1, #333);
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}

.footer-adress {
  color: #4f4f4f;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.footer-about-us-text {
  display: block;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.footer-input-title {
  margin-bottom: 14px;
}

.footer-input {
  border: none;
  padding: 8px 13px;
  margin-bottom: 14px;
  border: 1px solid var(--lightgray);
  border-radius: 2px;
}

.footer-button {
  padding: 4px 12px;
  text-transform: capitalize;
  font-size: 8px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  font-family: Raleway;
  border-radius: 2px;
}
/* footer styles end */

/* Hovers / Actives*/

.green:hover, .green:active, .green:focus {
  transform: scale(0.97);
}

.light:hover, .light:active, .light:focus {
  transform: scale(0.97);

}



@media screen and (max-width: 1250px) {
  .wrapper {
    padding: 40px 15px;
  }
  .header-wrapper > .wrapper {
    padding: 15px 15px;
  }
  /* Header media */

  /* Header media */

  /* top section media */

  .top-section-main {
    height: auto;
    width: 50vw;
  }

  .top-section-img {
    height: auto;
    width: 50vw;
  }

  .top-section-main-title {
    font-size: 35px;
    margin-top: 25px;
  }

  .top-section-main-text {
    font-size: 18px;
  }

  .top-section-main-title,
  .top-section-main-text {
    padding: 0 20px;
  }

  .top-section-btn {
    padding: 25px 30px;
    font-size: 24px;
  }

  .btn-description {
    font-size: 16px;
  }
  /* top section media */

  /* section 2 media */
  .s2-cards {
    padding-top: 0;
    gap: 15px;
  }

  .s2-card {
    grid-column: span 2;
  }
  /* section 2 media */

  /* section 3 media */
  .s3-plant-cards {
    gap: 30px;
    justify-content: center;
  }

  /* section 3 media */

  /* section 4 media */
  .section-4 {
    gap: 30px;
  }
  .s4-text-title {
    font-size: 28px;
    line-height: normal;
  }
  .s4-text-text {
    line-height: 24px;
  }
  /* section 4 media */

  /* section 5 media */
  .s5-text {
    /* padding-left: 67px; */
  }
  /* .s5-text-title {
    font-size: 32px;
    line-height: 45px;
  } */
  /* section 5 media */

  /* footer media */
  .footer {
    gap: 40px;
    padding-inline: 60px;
  }
  /* footer media */
}

@media screen and (max-width: 900px) {
  .footer-wrapper {
    padding: 0 40px;
  }
  /* top section media */
  .top-section {
    flex-wrap: wrap;
  }
  .top-section-main {
    justify-content: start;
    height: fit-content;
    padding: 0;
    width: 100vw;
  }

  .top-section-img-wrap {
    margin: 0 auto;
  }
  .top-section-img {
    width: 100vw;
    height: auto;
  }

  .top-section-button-wrap {
    position: relative;
    margin-top: 25px;
  }
  .top-section-btn {
    padding: 10px 15px;
    font-size: 18px;
  }

  .btn-description {
    font-size: 18px;
  }
  /* sop section media */

  /* section 2 media */
  .s2-card {
    grid-column: span 4;
  }
  /* section 2 media */

  /* section 4 media */
  .s4-text-title {
    font-size: 22px;
  }
  .s4-text-text {
    font-size: 14px;
  }
  /* section 4 media */

  /* section 5 media */
  /* .s5-text {
    width: 50%;
    padding-left: 5vh;
  }
  .s5-text-title {
    font-size: 24px;
    line-height: 32px;
  }
  .s5-img-cont {
    width: 50%;
  } */
  /* section 5 media */
}

@media screen and (max-width: 762px) {
  /* header hdn */

  /* section 4 media */
  .section-4 {
    flex-wrap: wrap;
    gap: 0;
  }
  .s4-left-cont {
    width: 100%;
    flex-direction: column-reverse;
  }

  .s4-text-cont {
    padding: 25px 0;
  }

  .s4-big-img-cont {
    width: 100vw;
  }
  /* section 4 media */

  /* section 5 media */
  /* .section-5 {
    padding-top: 80px;
    flex-wrap: wrap;
  }
  .s5-text {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }
  .s5-text-title {
    font-size: 24px;
    line-height: 32px;
  }
  .s5-img-cont {
    margin-top: 80px;
    width: 100%;
  } */
  /* section 5 media */

  /* footer media */
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer > * {
    width: 100%;
  }

  .footer-input {
    padding: 10px 15px;
    margin-bottom: 35px;
  }

  .footer-button {
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
  }
  /* footer media */
}

@media screen and (max-width: 450px) {
  .header-wrapper > .wrapper {
    padding: 20px 15px;
  }

  .header-logo-img {
    margin-right: 20px;
  }

  .header-items-svg-wrap {
    gap: 20px;
    margin-right: 20px;
  }

  .header-items-autorize {
    width: min-content;
  }

  .sign-up, .sign-in {
    height: fit-content;
    width: 91px;
  }

  .sign-up {
    margin-bottom: 5px;
  }
}
